<docs lang="markdown">
[TODO: write documentation for this plugin.]
</docs>

<config lang="json">
{
  "name": "Im2Im-Dashboard",
  "type": "window",
  "tags": [],
  "ui": "",
  "version": "0.1.9",
  "api_version": "0.1.2",
  "description": "The dashboard for deep learning based image-to-image translation",
  "icon": "extension",
  "inputs": null,
  "outputs": null,
  "env": "",
  "requirements": [
        "https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js",
        "https://static.imjoy.io/spectre.css/spectre.min.css",
        "https://static.imjoy.io/spectre.css/spectre-exp.min.css",
        "https://static.imjoy.io/spectre.css/spectre-icons.min.css",
        "https://cdn.jsdelivr.net/npm/apexcharts",
        "https://cdn.jsdelivr.net/npm/vue-apexcharts"
  ],
  "dependencies": [],
  "defaults": {"w": 20, "h": 10},
  "runnable": true
}
</config>

<script lang="javascript">

const series = []
const dataObj = {}

const app = new Vue({
    el: '#app',
    components: {
      apexchart: VueApexCharts,
    },
    data: {
      loading: false,
      status_text: 'loading',
      display_mode: 'all',
      displays: [],
      pages: [],
      page_names: [],
      page: null,
      selected_display: null,
      series: series,
      show_chart: true,
      chartOptions: {
        chart: {
          animations: {
            enabled: true,
            easing: 'linear',
            dynamicAnimation: {
              speed: 2000
            }
          },
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true,
            type: 'xy'
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth',
          width: 2
        },
        markers: {
          size: 0
        },
        xaxis: {
          title: 'Step',
          min: 0,
          labels: {
            formatter: function (value) {
              return value&&value.toFixed(0);
            }
          }
        },
        yaxis: {
          labels: {
            formatter: function (value) {
              return value&&value.toFixed(4);
            }
          }
        },
        legend: {
          show: false
        }
      }
    },
    mounted: function () {
      this.intervals()
    },
    methods: {
      intervals() {
        // this.$refs.realtimeChart.updateSeries([{
        //   data: data
        // }])
      }
    }
})

function generateCallbacks(metrics, callbacks){
  const cbs = {}
  for(let m of metrics){
    dataObj[m] = {name: m, data: []}
    series.push(dataObj[m])
  }
  for(let c of callbacks){
    cbs[c] = (i, values)=>{
      for(let k in values){
        if(dataObj[k])
        dataObj[k].data.push([i, values[k]])
        else{
          console.log(k, ' is not registered.')
        }
      }
      app.$forceUpdate()
    }
  }
  return cbs
}

class ImJoyPlugin {
  async setup() {

  }

  async appendDisplay(name, items){
    app.pages.push(items)
    app.page_names.push(name || '')
    app.page = app.pages.length -1
    app.status_text = name
    if(!app.selected_display){
        app.selected_display = Object.keys(items)[0]
    }
    for(let k in items){
      if(items[k].startsWith('http')){
        //download the image
        var downloadingImage = new Image();
        downloadingImage.onload = function(){
            items[k] = this.src;   
        };
        downloadingImage.src = items[k]
        console.log('downloading ' + items[k])
      }
    }
    app.$forceUpdate()
  }

  async setLoading(options){
    app.loading = options.loading
    app.status_text = options.status_text
    app.$forceUpdate()
  }

  async updateCallback(callback_name, index, value){
    this.callbacks[callback_name](index, value)
  }

  async run(my) {
    if(my.data.metrics && my.data.metrics.length>0){
        this.callbacks = generateCallbacks(my.data.metrics, my.data.callbacks)
        app.show_chart= true
    }
    else{
      app.show_chart= false
    }
    if(my.data.display_mode){
        app.display_mode = my.data.display_mode
    }
    //for(let i=0;i<100;i++){
    //    await this.callbacks.onEpochEnd(i, {'loss': i*10})
    //}
    //api.log('done')
  }
}
api.export(new ImJoyPlugin())
</script>

<window lang="html">
<div style="text-align: center;" id="app">
  <h3 v-if="status_text">{{status_text}}</h3>
  <div class="loading loading-lg floating" v-show="loading"></div>
  <div class="card" v-show="show_chart">
    <div class="card-image">
      <div id="chart">
        <apexchart ref="realtimeChart" type=line height=350 :options="chartOptions" :series="series" />
      </div>
    </div>
  </div>
  <br>
  <div class="card" v-if="pages && pages.length>0">
    <h5>{{page!==null?page_names[page]: ''}}</h5>
    <input v-if="pages.length>0" class="slider" id="display-slider" type="range" min="0" :max="pages.length-1" v-model="page">
    <ul class="tab tab-block" v-if="page!==null">
        <li :class="selected_display==d && display_mode != 'all'?'tab-item active':'tab-item'" v-for="d in Object.keys(pages[page] || {})" :key="d">
            <a href="#" @click="selected_display=d">{{d}}</a>
            <img class="img-fit-contain" v-if="display_mode == 'all' && page !==null && d && pages[page][d]" :src="pages[page][d]" style="max-width: 100%; min-width: 100px;"/>
        </li>
    </ul>
    <img class="img-fit-contain" v-if="display_mode != 'all' && page !==null && selected_display && pages[page][selected_display]" :src="pages[page][selected_display]" style="max-width: 100%; min-width: 100px;"/>
  </div>
  
</div>
</window>

<style lang="css">
.tab {
  align-items: flex-end!important;
}


.floating {
  position: absolute !important;
  left: calc(50% - 1.5rem) !important;
  top: calc(39% - 1.5rem) !important;
  z-index: 999;
}

.loading.loading-lg::after {
  height: 3rem !important;
  margin-left: -0.8rem;
  margin-top: -0.8rem;
  width: 3rem !important;
}
</style>
